.book__input__block {
    margin-bottom: 15px;
    position: relative;
    &.book__input__with__error {
        .book__input {
            border-color: #ff7e7e;
        }
        .book__input__error {
            line-height: 18px;
            font-size: 15px;
            margin-top: 15px;
            color: #ff7e7e;
        }
    }
    .book__input__required {
        color: #ff7e7e;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .book__input {
        display: block;
        width: 100%;
        background-color: #fff;
        line-height: 1.2;
        padding: 26px 14px 7px;
        border: 1px solid #e8e8e8;
        box-sizing: border-box;
        font-size: 1em;
        outline: 0;
        appearance: none;
        border-radius: 0;
    }
    .book__input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .book__input[type=number] {
        -moz-appearance: textfield;
    }
    label {
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: 14px;
        top: 16px;
        font-size: 15px;
        cursor: text;
        color: #a4a6a6;
        line-height: 1.3;
        transform-origin: 0 0;
    }
    .label__moved {
        font-size: 15px;
        color: #999999;
    }
    .label__transformed {
        @extend %label_transform;
    }
}
%label_transform {
    transform: translate3d(0, -10px / 15px * 1em, 0) scale3d(.95, .95, 1);
    transition: transform .1s .1s;
    transition-timing-function: cubic-bezier(0,.25,.5,1);
}
.book__form {
    * {
        font-family: "Helvetica Neue Cyr", "Arial", "Nimbus Sans L", "sans-serif";
    }
}
.books__authors__list {
    list-style: none;
    padding-left: 0;
    .book__input__error {
        line-height: 18px;
        font-size: 15px;
        margin-top: 15px;
        color: #ff7e7e;
    }
}
.books__author__input {
    position: relative;
    padding: 20px 0;
    h4 {
        font-size: 16px;
        color: #484848;
    }
    .books__delete__author {
        position: absolute;
        top: 30px;
        right: 0;
        border: 1px solid #ff7e7e;
        color: white;
        background: #ff7e7e;
        font-weight: bold;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
    .book__author__fields {
        display: flex;
        justify-content: space-between;

        .book__input__block {
            width: 49%;
            display: inline-block;
        }
    }
}

